.othersellers{

    display: flex;
    border: 3px solid #ccc;
    flex-direction: column;
    margin: 10px;
    width: 200px;
    height: 250px;
    align-items: center;

   
}
#price1{
    color: #de2d1a;
}