#remove{
    color: white;
    text-align: center;
    background-color: #de2d1a;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 30px;
    size: 100px;
    border-radius: 10px;
    margin-left: 100px;
}
#remove:hover{
    background-color: white;
    color: #de2d1a;
}