.loginHeader {
  background-color: #2a5279; /* Set the background color of the header */
  color: #fff; /* Set the text color */
  padding: 15px; /* Add some padding */
  text-align: center;
}

.logoLogin {
  width: 120px;
}

.signinScreen {
  padding-top: 30px;
  /* html,body { */
  height: 100%;
  /* } */
  font-family: sans-serif;
}

.signinScreen_gray {
  font-size: 18px;
  margin-right: 5px;
}

.signinScreen_link {
  font-size: 18px;
  color: #787171;
}

