.productcontainer{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 3px solid #ccc;
    /* width:fit-content; */
    max-width: 500px;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    border-radius: 12px;
}
#productimg {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }
 

 #price {
    color: #f44336;
    font-weight: bold;
}