.productcontainer6{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 3px solid #ccc;
    width:fit-content;
    border-radius: 4px;
}
#productimg6 {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }
 

 #price6 {
    color: #f44336;
    font-weight: bold;
}