.contan1{
    border: 3px solid #ccc;
    border-radius: 10px;
    max-width: 715px;
   margin: 20px;
}
.productcontainer1{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
#productimg1{
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  #stock1{
    color: #26bb3c;
    font-weight: bold;
  }

 #price1 {
    color: #f44336;
    font-weight: bold;
}
#quantity{
    padding-left: 50px;
    font-weight: bold;
font-size: 20px;
margin-bottom:20px ;

}
