.brandName{
    padding-left: 13px;
    
}
.brandName img{
    width: 145px;
    border-radius: 10px;
}

.navWrapper{
    display: flex;
    justify-content: space-between;
    /* margin:5px ; */
    align-items: center;
    padding-left: 12px;
    background-color: #3F3A38;
    /* border-radius: 15px; */
    
}
.cartWrapper{
    display: flex;
    justify-content: flex-end;
    gap:80px;
    align-items: center;
    margin-right: 14px;
    outline: none;
    /* justify-content: space-between; */
}

.category{
    /* margin-right: 5px; */
    cursor: pointer;
}

.profileIcon{
    margin-top: 2px;
    width: 50px;
    border-radius: 50%;
}

.cartIcon{
    width: 66px;
    /* border: 12px solid #f2f2f2; */
    /* color: #f2f2f2;; */
    /* padding: 1px; */
    border-radius: 32px;
}

