#buy2{
    color: white;
    text-align: center;
    background-color: #27b245;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 30px;
    margin: 20px;
    size: 100px;
    border-radius: 10px;

}
#buy2:hover{
    background-color: white;
    color: #27b245;
}