.globalSearch{
    height: 37px;
    width: 500px;
    border-radius: 27px;
    padding: 21px;
}
.searchForm{
    display: flex;

}

.searchForm button{
    /* height: 45px; */
    border-radius: 28px;
    padding: 12px;
    margin-top: 0px;
    /* align-items: center; */
    text-align: center;
    font-size: 16px;
}
#searchbtn
{
    border-radius: 34px;
   margin-left: 10px;
   padding: 13px;
   cursor: pointer;
}