#addtocart{
    color: white;
    text-align: center;
    background-color: #3f3a38;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 30px;
    margin: 20px;
    size: 100px;
    border-radius: 10px;
   
}
#addtocart:hover {
    background-color: white;
color: #3f3a38;
}