body {
    background-color: #f4f4f4;
}
h1{
    text-align: center;
}
header {
    background-color: #2A5279; /* Set the background color of the header */
    color: #fff; /* Set the text color */
    padding: 15px; /* Add some padding */
}

.registerLoginContainer {
    /* max-width: 1200px;  */
    /* height:max-content; */
    margin: 0 auto; /* Center the container */
    height: 100%;
    text-align: center;
}

.company-name {
    font-size: 36px; /* Set the font size of the company name */
    text-align: center; /* Center the text */
    /* text-transform: uppercase; Uppercase the text */
    letter-spacing: 3px; /* Add some letter spacing */
    padding: 21px;
}

/* Add some styling to the form */
.registerForm {
    /* margin-top: 60px; */
    display:flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #5e5b5b3b;
    box-shadow: 1px -2px 12px lightsteelblue;
}

/* Style the input fields */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
.loginButton[type="submit"] {
    width: 100%;
    background-color: #2a5279;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registerScreen_link{
    margin-top: 4px;
    font-size: 16px;
    color: rgb(74, 73, 73);
    cursor: pointer;
    text-align: right;
    margin-right: 3px;
}