.contain{
    border: 3px solid #ccc;
    border-radius: 10px;
    margin: 20px;
}
.productconta{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    
}
#productimg {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  #stock{
    color: #26bb3c;
    font-weight: bold;
  }

 #price {
    color: #f44336;
    font-weight: bold;
}
#operation3{
    display: flex;
    place-content: space-around;
}
.othersellerbar{
    background-color: #3f3a38;
    border: 1px solid black;
    color: white;
    height: 37px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    max-width: 2000px;
}
.otherselleritems{
    display: flex;
   
    place-content: space-around;
}
#productname{
    font-family: Arial, Helvetica, sans-serif;
}