.productcontainer3{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid #ccc;
    margin: 20px;
    border-radius: 10px;

}
#productimg3 {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  #date3{
    color: #26bb3c;
    font-weight: bold;
  }

 #price3 {
    color: #f44336;
    font-weight: bold;
}